# IDE ignore
.idea/
*.ipr
*.iml
*.iws
.vscode/

# temp ignore
*.log
*.cache
*.diff
*.exe
*.exe~
*.patch
*.tmp
*.swp
*.db

# system ignore
.DS_Store
Thumbs.db

# build
/target
/configs
/dist
/data/texas-poker.db
/data/avatar
/api/proto.js
