# IDE ignore
.idea/
*.ipr
*.iml
*.iws
.vscode/

# temp ignore
*.log
*.cache
*.diff
*.exe
*.exe~
*.patch
*.tmp
*.swp
*.db

# system ignore
.DS_Store
Thumbs.db

# build
/target
/configs
/dist
/etc/texas-poker.db
/cmd/avatar